@import url('https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.min.css')
@import '~mdb-ui-kit/css/mdb.min.css';

.divider:after
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}